importFrom("utils", "capture.output", "packageDescription")
###########################################################################
export(new.h)
export(is.h)
export(len.h)
export(set.h)
export(setnum.h)
export(setint.h)
export(setchar.h)
export(setlog.h)
export(get.h)
export(del.h)
export(haskey.h)
export(keys.h)
export(vals.h)
export(each.h)
export(clear.h)
export(tag.h)
export(copy.h)
